@model IEnumerable<classProject.Models.Expedition>

@{
    ViewData["Title"] = "Home Page";
}


<div class="col">
    <div class="row">
        <form asp-controller="Home" asp-action="US2Submit" method="post" class="m-2">
            <div asp-validation-summary="ModelOnly"></div>
            @*Peak*@
            <div class="form-group">
                <label>Peak</label>
                <input class="search_input rounded center" type="text" name="peak" placeholder="Search...">
            </div>
            @*Start date*@
            <div class="form-group">
                <label>Start date</label>
                <input class="search_input rounded center" type="date" name="start" placeholder="Search...">
            </div>
            @*End date*@
            <div class="form-group">
                <label>End date</label>
                <input class="search_input rounded" type="date" name="end" placeholder="Search...">
            </div>
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>

    @if (Model != null)
    {
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Season)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TerminationReason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OxygenUsed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peak)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrekkingAgency)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Season)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TerminationReason)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OxygenUsed)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Peak.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TrekkingAgency.Name)
                </td>
            </tr>
        }
    </tbody>
</table>
    }
</div>