@model Expeditions.Models.Expedition

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Expedition</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Season)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Season)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TerminationReason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TerminationReason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OxygenUsed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OxygenUsed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peak)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peak.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrekkingAgency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrekkingAgency.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
