@model IEnumerable<BerylCalendar.Models.Event>
<body style="background-color:lightgrey">
    <div style="text-align:center;width:90%" class="box-shadow-login boxbgcolor">
        <div>
        @foreach (var i in Model)
        {
            <div class="row">
                <div class="col">
                    <p><a style=float:left;margin-left:1em href="/Event/DeleteEvent/@i.Id">Delete</a></p>
                </div>
                <div class="col">
                    <span><b>Title:</b></span> <br />
                </div>
                <div class="col">
                    <p><a style=float:right;margin-right:1em href="/Event/UpdateEvent/@i.Id">Edit</a></p>
                </div>
            </div>
            @i.Title <br />
            <div class="row">
                <div class="col">
                    <br /><br /><span><b>Start time:</b></span> <br />
                    @i.StartDateTime <br />
                </div>
                <div class="col">
                    <br /><br /><span><b>End time:</b></span> <br />
                    @i.EndDateTime <br />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <br /><br /><span><b>Location:</b></span> <br />
                    @i.Location <br />
                </div>
                <div class="col">
                    <br /><br /><span><b>Type:</b></span> <br />
                    @i.Type.Name <br />
                </div>
            </div>
            <br /><br /><span><b>Details:</b></span> <br />
            @i.Details <br />
        }
        </div>
    </div>
</body>
