@model CreateEvent

<div class="center">
    <h1>Create an Event:</h1>

<form asp-action="AddEvent" method="post">
    <div class="form-group">
        <label asp-for="@Model.eve.StartTime">When does it start?</label>
        <input asp-for="@Model.eve.StartTime" type="DateTime" class="form-control"/>
        <span asp-validation-for="@Model.eve.StartTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.eve.EndTime">When does it end?</label>
        <input asp-for="@Model.eve.EndTime" type="DateTime" class="form-control"/>
        <span asp-validation-for="@Model.eve.EndTime" class="text-danger"></span>
    </div>
</form>
</div>