@model CreateEvent
<body style="background-color:lightgrey">
    <div style="text-align:center;width:90%" class="box-shadow-login boxbgcolor">
        <h1>Create an Event:</h1>

        <div>
            <form asp-action="AddEvent" method="post">
                <div class="form-group">
                    <label asp-for="@Model.eve.Title">Title:</label>
                    <input asp-for="@Model.eve.Title" type="text" class="form-control"/>
                    <span asp-validation-for="@Model.eve.Title" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label asp-for="@Model.eve.StartTime">When will it start?:</label>
                            <input asp-for="@Model.eve.StartTime" type="DateTime-local" class="form-control"/>
                            <span asp-validation-for="@Model.eve.StartTime" class="text-danger"></span>

                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.eve.EndTime">When will it end?:</label>
                    <input asp-for="@Model.eve.EndTime" type="DateTime-local" class="form-control"/>
                    <span asp-validation-for="@Model.eve.EndTime" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.eve.Location">Where is it located?:</label>
                    <input asp-for="@Model.eve.Location" type="text" class="form-control"/>
                    <span asp-validation-for="@Model.eve.Location" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.name">Event Types</label>
                    <select asp-for="@Model.name">
                        <option value="1">Shopping</option>
                        <option value="2">Visit</option>
                        <option value="3">Meal</option>
                        <option value="4">Activity</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Create Event</button>
            </form>
        </div>
    </div>
</body>
