@model IEnumerable<BerylCalendar.Models.Event>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    @{ DateTime today = DateTime.Today; }
    <div class="row">
        <div class="col-md-8">
            <div class="list-group">
                @if (Model != null)
                {
                    DateTime endOfPriorEvent = new DateTime(2020, 1, 1, 0, 0, 0);
                    foreach (var item in Model)
                    {
                        if ((item.StartDateTime.Day == today.Day) && (item.StartDateTime.Month == today.Month)
                            && (item.StartDateTime.Year == today.Year))
                        {
                            if (item.StartDateTime < endOfPriorEvent)
                            {
                                <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                                    <div class="d-flex w-100 justify-content-between">
                                        <h5 class="mb-1">Warning</h5>
                                    </div>
                                    <p class="mb-1">Last event ends before next event begins. </p>
                                </a>
                            }
                            <a href="#" class="list-group-item list-group-item-action" aria-current="true">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">@Html.DisplayFor(modelItem => item.Title)</h5>
                                    <small>@Html.DisplayFor(modelItem => item.StartDateTime)</small>
                                </div>
                                <p class="mb-1">@Html.DisplayFor(modelItem => item.Location)</p>
                                <small>@Html.DisplayFor(modelItem => item.Type)</small>
                            </a>
                            endOfPriorEvent = item.EndDateTime;
                        }
                    }
                }
                else
                {
                    <p>You have no saved events.</p>
                }
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="month">
                    <ul>
                        <li class="prev"><a href="#">&#10094</a></li>
                        <li class="next"><a href="#">&#10095</a></li>
                        <li class="monthName">@today.ToString("MMMM")</li>
                    </ul>
                </div>
                <div class="weekdays">
                    <li>Sun</li>
                    <li>Mon</li>
                    <li>Tues</li>
                    <li>Wed</li>
                    <li>Thur</li>
                    <li>Fri</li>
                    <li>Sat</li>
                </div>
                <div class="days">
                    <ul>
                        @{
                            DateTime firstDayOfMonth = new DateTime(today.Year, today.Month, 1);
                            int firstDayCodeOfMonth = (int)firstDayOfMonth.DayOfWeek;
                            for (int i = 0; i < 42; i++)
                            {
                                if ((i >= firstDayCodeOfMonth)
                                    && (i <= (DateTime.DaysInMonth(today.Year, today.Month) + firstDayCodeOfMonth)))
                                {
                                    <li><a href="#">@i - firstDayCodeOfMonth + 1;</a></li>
                                }
                                else
                                {
                                    <li></li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
            <div class="row">

            </div>
        </div>
    </div>
</div>