@model IEnumerable<BerylCalendar.Models.Event>

@{
    ViewData["Title"] = "Home Page";
}
<body style="background-color:lightgrey">
    @if (Model != null)
    {
        <div class="row">
            <div class="col">
                <table class="table table-sm">
                    <tr>
                        <th class="text-center">Sunday</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @if (item.StartDateTime.DayOfWeek == DayOfWeek.Sunday)
                            {
                                <td>
                                    <a href="/DetailedEvent/SeeDetailedEvents/@item.Id" class="list-group-item list-group-item-action" aria-current="true">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">@Html.DisplayFor(modelItem => item.Title)</h5>
                                        </div>
                                        <small>@Html.DisplayFor(modelItem => item.StartDateTime)</small>
                                        <p class="mb-1">@Html.DisplayFor(modelItem => item.Location)</p>
                                    </a>
                                </td>
                            }
                        </tr>
                    }
                </table>
            </div>
            <div class="col">
                <table class="table table-sm">
                    <tr>
                        <th class="text-center">Monday</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @if (item.StartDateTime.DayOfWeek == DayOfWeek.Monday)
                            {
                                <td>
                                    <a href="/DetailedEvent/SeeDetailedEvents/@item.Id" class="list-group-item list-group-item-action" aria-current="true">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">@Html.DisplayFor(modelItem => item.Title)</h5>
                                        </div>
                                        <small>@Html.DisplayFor(modelItem => item.StartDateTime)</small>
                                        <p class="mb-1">@Html.DisplayFor(modelItem => item.Location)</p>
                                    </a>
                                </td>
                            }
                        </tr>
                    }
                </table>
            </div>
            <div class="col">
                <table class="table table-sm">
                    <tr>
                        <th class="text-center">Tuesday</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @if (item.StartDateTime.DayOfWeek == DayOfWeek.Tuesday)
                            {
                                <td>
                                    <a href="/DetailedEvent/SeeDetailedEvents/@item.Id" class="list-group-item list-group-item-action" aria-current="true">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">@Html.DisplayFor(modelItem => item.Title)</h5>
                                        </div>
                                        <small>@Html.DisplayFor(modelItem => item.StartDateTime)</small>
                                        <p class="mb-1">@Html.DisplayFor(modelItem => item.Location)</p>
                                    </a>
                                </td>
                            }
                        </tr>
                    }
                </table>
            </div>
            <div class="col">
                <table class="table table-sm">
                    <tr>
                        <th class="text-center">Wednesday</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @if (item.StartDateTime.DayOfWeek == DayOfWeek.Wednesday)
                            {
                                <td>
                                    <a href="/DetailedEvent/SeeDetailedEvents/@item.Id" class="list-group-item list-group-item-action" aria-current="true">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">@Html.DisplayFor(modelItem => item.Title)</h5>
                                        </div>
                                        <small>@Html.DisplayFor(modelItem => item.StartDateTime)</small>
                                        <p class="mb-1">@Html.DisplayFor(modelItem => item.Location)</p>
                                    </a>
                                </td>
                            }
                        </tr>
                    }
                </table>
            </div>
            <div class="col">
                <table class="table table-sm">
                    <tr>
                        <th class="text-center">Thursday</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @if (item.StartDateTime.DayOfWeek == DayOfWeek.Thursday)
                            {
                                <td>
                                    <a href="/DetailedEvent/SeeDetailedEvents/@item.Id" class="list-group-item list-group-item-action" aria-current="true">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">@Html.DisplayFor(modelItem => item.Title)</h5>
                                        </div>
                                        <small>@Html.DisplayFor(modelItem => item.StartDateTime)</small>
                                        <p class="mb-1">@Html.DisplayFor(modelItem => item.Location)</p>
                                    </a>
                                </td>
                            }
                        </tr>
                    }
                </table>
            </div>
            <div class="col">
                <table class="table table-sm">
                    <tr>
                        <th class="text-center">Friday</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @if (item.StartDateTime.DayOfWeek == DayOfWeek.Friday)
                            {
                                <td>
                                    <a href="/DetailedEvent/SeeDetailedEvents/@item.Id" class="list-group-item list-group-item-action" aria-current="true">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">@Html.DisplayFor(modelItem => item.Title)</h5>
                                        </div>
                                        <small>@Html.DisplayFor(modelItem => item.StartDateTime)</small>
                                        <p class="mb-1">@Html.DisplayFor(modelItem => item.Location)</p>
                                    </a>
                                </td>
                            }
                        </tr>
                    }
                </table>
            </div>
            <div class="col">
                <table class="table table-sm">
                    <tr>
                        <th class="text-center">Saturday</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        <tr>
                            @if (item.StartDateTime.DayOfWeek == DayOfWeek.Saturday)
                            {
                                <td>
                                    <a href="/DetailedEvent/SeeDetailedEvents/@item.Id" class="list-group-item list-group-item-action" aria-current="true">
                                        <div class="d-flex w-100 justify-content-between">
                                            <h5 class="mb-1">@Html.DisplayFor(modelItem => item.Title)</h5>
                                        </div>
                                        <small>@Html.DisplayFor(modelItem => item.StartDateTime)</small>
                                        <p class="mb-1">@Html.DisplayFor(modelItem => item.Location)</p>
                                    </a>
                                </td>
                            }
                        </tr>
                    }
                </table>
            </div>
        </div>

    }
    else
    {
        <p>The are no events for the current day.</p>
    }
</body>
    @section Scripts {
        @if (ViewData["status"] != null)
        {
            <script language="javascript">
                alert("You did not enter two dates or a type. Example: 1/1/2021 4/24/2021 or Shopping.");
            </script>
        }
    }
