@model IEnumerable<classProject.Models.Expedition>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Season)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TerminationReason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OxygenUsed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Login)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Peak)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TrekkingAgency)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Season)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TerminationReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OxygenUsed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Login.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Peak.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TrekkingAgency.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
